@model List<Wedding>

<div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-around align-items-center">
        <h1>Welcome to the Wedding Planner</h1>
        <a class="text-center" href="logout">Log Out</a>
    </div>
    <table class="table table-striped" style="width: fit-content; min-width: 70%; margin-left:15%">
        <thead class="thead-dark">
            <th>Wedding</th>
            <th>Date</th>
            <th>Guest</th>
            <th>Action</th>
        </thead>
        <tbody>
            @{
                bool inlist = false;
                @if(Model != null)
                {
                    @foreach(var wedding in Model){
                        <tr>
                            <td><a asp-controller="Home" asp-action="ViewWedding" asp-route-weddingid="@wedding.WeddingId">@wedding.Wedder_1 & @wedding.Wedder_2</a></td>
                            <td>@wedding.Date.ToString("MMMM dd, yyyy")</td>
                            <td>@wedding.Users.Count()</td>
                            <td>
                                @if(wedding.UserId == ViewBag.seshid)
                                {
                                    <a asp-controller="Home" asp-action="Delete" asp-route-weddingid="@wedding.WeddingId">Delete</a>
                                }
                                else
                                {
                                    @foreach(var user in wedding.Users)
                                        {
                                            @if(user.UserId == ViewBag.seshid)
                                            {
                                                inlist = true;
                                            }
                                        }
                                    @if(inlist)
                                    {
                                        <a asp-controller="Home" asp-action="RSVP" asp-route-weddingid="@wedding.WeddingId">Un-RSVP</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Home" asp-action="RSVP" asp-route-weddingid="@wedding.WeddingId">RSVP</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-info btn-sm active w-25" style="margin-left: 15%;"><a asp-controller="Home" asp-action="NewWedding" style="text-decoration: none; color: white; font-weight: bold;">Create New Wedding</a></button>
</div>