@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    @model Category
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View @Model.Name</title>
</head>
<body>
    <h1 style="text-align: center;">@Model.Name</h1>
    <div class="d-flex flex-row justify-content-center" style="gap: 100px; margin-top: 75px;">
        <div class="d-flex flex-column">
            <h3 style="text-align: center;">Products</h3>
            <ul>
            @foreach(var one in Model.CategoryProds)
            {
                <li>@one.product.Name</li>
            }
            </ul>
        </div>
        @{
            Association Assoc = new Association();
            Assoc.CategoryId = @Model.CategoryId;
        }
        <partial name="_addprodASSOC" model="@Assoc"/>
    </div>
</body>
</html>
